body {
	text-align: center;
	background-color: #EEE;
	background-image: url(../images/chalkboard.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 50%;
}

#canvas {
	height: 500px;
	width: 500px;
	margin: auto;
}

.box {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	line-height: 0px;
	background-color: white;
}

.box:hover {
	cursor: none;
}

.outline {
	border : .5px dotted grey;
}

.title {
	font-size: 2.5em;
	margin: 20px;
	display: block;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.controls{
	width: 100%;
}

.btn-group {
	margin: 30px;
}

/*COLOR PICKER*/

#colorPicker{
	display: none;
}

.sp-replacer {
	float: left;
	height: 34px;
	border: 1px solid #2e6da4;
}
